Plugins>NanoJ-eSRRF>Tools, "Get OpenCL info", nanoj.liveSRRF.gui.GetOpenCLinfo_
Plugins>NanoJ-eSRRF>Tools, "-"
Plugins>NanoJ-eSRRF>Tools, "Reset stack for display", nanoj.liveSRRF.gui.SetStackForDisplay_
Plugins>NanoJ-eSRRF>Tools, "Stack linear rescaling", nanoj.liveSRRF.gui.LinearRescaling_
Plugins>NanoJ-eSRRF>Tools, "-"
Plugins>NanoJ-eSRRF>Tools, "Correct for macro-pixel artefacts", nanoj.liveSRRF.gui.RemoveMacroPixelArtefacts_
Plugins>NanoJ-eSRRF>Tools, "Localisation density analysis", nanoj.liveSRRF.gui.NNAnalysis_
Plugins>NanoJ-eSRRF>Tools, "-"
Plugins>NanoJ-eSRRF>Tools, "Simulate drift on stack", nanoj.liveSRRF.gui.SimulateDrift_
Plugins>NanoJ-eSRRF>Tools, "Simulate bead carpet", nanoj.liveSRRF.gui.BeadCarpetSimulator_
Plugins>NanoJ-eSRRF>Tools, "Fluorescence simulator", nanoj.liveSRRF.gui.FluorescenceSimulator_
Plugins>NanoJ-eSRRF>Tools, "-"
Plugins>NanoJ-eSRRF>Tools, "Estimate PSF size using integrated Gaussian", nanoj.liveSRRF.gui.EstimatePSFsize_
Plugins>NanoJ-eSRRF>Tools, "FHT interpolation", nanoj.liveSRRF.gui.FourierInterpolation_
Plugins>NanoJ-eSRRF>Tools, "-"
#Plugins>NanoJ-eSRRF>Tools, "Get focus positions from MFM data", nanoj.liveSRRF.gui.GetDefocus_
Plugins>NanoJ-eSRRF>Tools, "Get spatial registration from MFM data", nanoj.liveSRRF.gui.GetSpatialCalibrationMFMdata_
Plugins>NanoJ-eSRRF>Tools, "Apply spatial registration to MFM data", nanoj.liveSRRF.gui.ApplyCalibrationMFMdata_
Plugins>NanoJ-eSRRF>Tools, "Calculate 3D FHT (OpenCL)", nanoj.liveSRRF.gui.Get3DFHT_
Plugins>NanoJ-eSRRF>Tools, "Extract 3D PSF from stack", nanoj.liveSRRF.gui.Extract3D_PSF_

Plugins>NanoJ-eSRRF, "-"
Plugins>NanoJ-eSRRF, "eSRRF", nanoj.liveSRRF.gui.LiveSRRF_optimised_
Plugins>NanoJ-eSRRF, "eSRRF - Parameters sweep", nanoj.liveSRRF.gui.ParametersSweep_
Plugins>NanoJ-eSRRF, "eSRRF - Get F1 map", nanoj.liveSRRF.gui.GetF1map_
Plugins>NanoJ-eSRRF, "-"
Plugins>NanoJ-eSRRF, "Estimate time constant", nanoj.liveSRRF.gui.EstimateTimeConstant_

#Plugins>NanoJ-eSRRF>Tools, "-"
#Plugins>NanoJ-eSRRF>Tools, "Code tester", nanoj.liveSRRF.gui.CodeTester_


